header {
    display: flex;
    height: 150px;
    width: 100%;
    flex-direction: row;
    
    
}

.logo, .logo img {
    height: 150px;
    width: 150px;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: 80%;
    min-width: 470px;
    
}

nav a, #message {
    display: flex;
    padding: 10px;
    padding-top: 5px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    text-decoration: none;
    
}

nav a:hover, .active {
    background-color: white;
}